<style>
 .select1{padding: 2px 5px;min-width:100px;} 

</style>

<div class="wrapper-content2">
  <div class="content2">
    <%= form_for [:admin,@setting] ,:html => { :multipart => true } do |f| %>

      <div class="control-group">
        <%= f.label :project_name%>
        <div class="controls">
          <%= f.text_field :project_name%>
        </div>
      </div>

     <div class="field">
        <h3>Restrict Project Access :</h3>
        <%= f.select( :access, { "Yes" => true, "No" => false},{},{ :class => 'select1' } )%>
    </div><br>


       
     <div class="form-actions">
      <%= f.submit "Submit", :class => "btn2" %>
     </div>
 


    <% end %>
  </div>
</div>