<!DOCTYPE html>
<html>
<head>
  <title>MobileConfig</title>
  <%= stylesheet_link_tag    'login', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'logi', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<%= yield %>
</body>
</html>
